<div class="progress-bar">
  <i class="handle"></i>
  <i class="fill">
    <i class="filler"></i>
  </i>
</div>
<i class="progress">{{trackedPercentage}}</i>

<i class="toggle max">Max</i>
<i class="toggle min">Min</i>
