html, body {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  /*  transform: translate3d(0px,0px,0px); */
}

#app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;

  height: 50px;
  background: darkblue;
  color: white;
  text-align: center;
}


#app-menu {
  background: geren;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;

  padding-right:40px;
}


#app-content {
  margin: 70px 20px 20px;
}


.list-container {
  margin: 40px 0;
  border: 1px solid #999;
}

.list-item {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #999;
  position:relative; 
  overflow:hidden;
}

.list-item-content {
  position: relative; 
  z-index: 2; 
  height: 100%; 
  padding: 0 10px; 
  background-color: lightblue; 
  border-right: 1px solid #999;

  -webkit-transform: translate3d(0px,0px,0px) scale3d(1,1,1);
  -moz-transform: translate3d(0px,0px,0px);
  -ms-transform: translate3d(0px,0px,0px);
  -o-transform: translate3d(0px,0px,0px);
  transform: translate3d(0px,0px,0px);

  /*  
  -webkit-transition: none; 
  -moz-transition: none; 
  -ms-transition: none; 
  -o-transition: none; 
  transition: none;
  */
} 

.list-item-option {
  position: absolute; 
  z-index: 1; 
  top:0; 
  right: 0; 
  text-align: right; 
  height: 100%; 
  width: 200px; 
  padding: 0 10px; 
  background-color: lightgreen; 
}
 
.no-select
{
   user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}