<side-menu-overlay progress={{sideMenuProgress}} updateProgress="updateProgress"></side-menu-overlay>

<side-menu progress={{sideMenuProgress}} updateProgress="updateProgress">
  <ul>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
  </ul>
</side-menu>


<div id="app-content">
  <h2 id="title">Welcome to Ember.js</h2>

  <header id="app-header">
    <h1 id="app-title">Mobile Patterns</h1>
  </header>


  {{outlet}}
</div>