
<button {{action 'authenticate'}}>Authenticate</button>
<button {{action 'activePeople'}}>activePeople</button>
<button {{action 'dinoHeight'}}>dinoHeight</button>
<button {{action 'dinoHeightStartAt3'}}>dinoHeightStartAt3</button>
